@mixin message {
    margin-top: 0;
    padding: 10px;
    display: flex;
    display: inline-block;
    max-width: 80%
}

.message {
    @include message;
    color: #7767ff;
    border-color: rgb(13 110 253 / 25%);
    background-color: #3e4249;
}

.alert {
    @include message;
}

.alert-secondary {
    @include message;
}

.mt-4 {
    @include message;
}