@using ZIFEIYU.Model;

@foreach (var item in Messages)
{
    @if (item.Role!="user")
    {
        <div class="alert alert-secondary mt-4 message">
            <strong>@item.Content</strong>
            <span class="bi bi-android2" aria-hidden="true"></span>
        </div>
    }
    else
    {
        <div style="display:flex;" dir="rtl">
            <div class="alert alert-secondary mt-4 message " style=" display:flex; display:inline-block;" dir="rtl">
                <span class="bi bi-airplane-fill" aria-hidden="true"></span>
                <strong>@item.Content</strong>
            </div>
        </div>
    }

}

@code {
    [Parameter]
    public List<DialogueMessage> Messages { get; set; }
}

