@using ZIFEIYU.Model;

@foreach (var item in Messages)
{
    <h1>@item.Role</h1>
    <SurveyPrompt Title="@item.Content" />
}



@code {
    [Parameter]
    public List<DialogueMessage> Messages { get; set; }
}

