.page {
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding-top: 3rem;
}

.content {
  height: 95vh;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 641px) {
  .page {
    flex-direction: row;
  }
  main {
    flex: 1;
    padding-top: 0;
  }
  .sidebar {
    width: 200px;
    height: 100vh;
    position: sticky;
    top: 0;
  }
}
