.main {
    height: 90vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 120px;
    background-color: #15151f;

    .body {
        overflow-y: scroll;
        color: #7767ff;

        &::-webkit-scrollbar {
            display: none; /* Chrome Safari */
        }
    }

    .bottom {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 641px) {
    .main {
        height: 100vh;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 120px;

        .body {
            color: #7767ff;
        }

        .bottom {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}