.main {
    height: 90vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 80px;

    .body {
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none; /* Chrome Safari */
        }
    }

    .bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 1.5rem;
    }

    ::deep {
        .mud-icon-button.mud-button {
            border-radius: 50% !important;
        }
    }
}

@media (min-width: 641px) {
    .main {
        margin-top: 0;
        height: 95vh;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 80px;

        .body {
            color: #7767ff;
        }

        .bottom {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 0;
        }
    }
}