@page "/Quiz"
@using System.Diagnostics;
@using ZIFEIYU.Model;
@using ZIFEIYU.Services;
@using ZIFEIYU.util;
@inject ChatGPTServices ChatGPTServices

<div class="main">
    <div class="body">
        <Dialogue Messages="Messages"></Dialogue>
        @if (davinciOutput != null)
        {
            foreach (var item in davinciOutput.Choices)
            {
                <SurveyPrompt Title="@item.Text" />

            }
        }
    </div>
    <div class="bottom">
        <div style="margin-right:5px;">
            <MudFab OnClick="()=>{HelperText=String.Empty;}" Size="Size.Small" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Refresh" />
        </div>
        <MudTextField T="string" Label="请输入你的问题"  Variant="Variant.Filled" @bind-Value="HelperText" />
        <div style="margin-left:10px;">
            <MudFab Size="Size.Small" OnClick="@Send" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Send" Disabled="_processing">
            </MudFab>
        </div>
    </div>
</div>


@code {
    public string HelperText { get; set; }
    public string Text { get; set; }
    DavinciOutput davinciOutput { get; set; }
    private MudTextField<string> singleLineReference;
    public List<DialogueMessage> Messages { get; set; } = new List<DialogueMessage>();
    private bool _processing = false;
    async Task Send()
    {
        _processing = true;
        Dictionary<string, string> Headers = new Dictionary<string, string>();
        Headers.Add("Authorization", "Bearer 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");
        davinciOutput = await ChatGPTServices.GetDavinci(new DavinciInput(HelperText)); 
        StateHasChanged();
        _processing = false;
    }
}
