.config-item {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1.5fr;

    div:nth-of-type(1) {
        padding-left: 2rem;
    }

    div:nth-of-type(2) {
        justify-self: end;
        display: flex;
    }
}

.pagebody {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    overflow-y: scroll;
    height: 80vh;

    &::-webkit-scrollbar {
        width: 0;
    }

    margin-bottom: 5vh;
}